<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832200625824-s5mbgrti2ovipivkcljhakca1h1qucpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832200625824-s5mbgrti2ovipivkcljhakca1h1qucpa</string>
	<key>API_KEY</key>
	<string>AIzaSyBhRHI19R8l_qEzWHgbQFI3pHByuSfII08</string>
	<key>GCM_SENDER_ID</key>
	<string>832200625824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>graduationproject-76b16</string>
	<key>STORAGE_BUCKET</key>
	<string>graduationproject-76b16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832200625824:ios:8d162f0ff6b75b998a83c5</string>
</dict>
</plist>